body {
    background-color: blanchedalmond;
}

h1 {
    margin-left: 15%;
}

table {
    border: 2px solid;
    background-color: burlywood;
}

td {
    height: 3em;
    width: 3em;
    border: 1px solid;
    text-align: center;
    background-color: white;
}

#game {
    display:flex;
}

#rightside {
    flex-grow: 1;
}

#score {
    margin-left: 5%;
}

#words {
    margin-left: 1%;
}