<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boggle</title>
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <h1>Boggle</h1>
    <h3 id="clock"></h3>
    <div id="game">
      <div id="leftside">
          {% block board %} {% endblock %}
        <forms id="input">
          <lable for="word">Word</lable>
          <input id="word" type="text" name="word" />
          <button type="submit">Submit</button>
        </forms>
      </div>
      <div id="rightside">
        <ul id="wordsList">
          <h3>Scoring Words</h3>
        </ul>
        <h5 id="score"></h5>
        <h3 id="scoresList"></h3>
        <ul>
          {% block scores %}{% endblock%}
        </ul>
      </div>
    </div>

    <!-- Library JS & our JS -->
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
