<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boggle</title>
    <link href="/static/styles.css" rel="stylesheet" />
  </head>
  <body>
    <table id="boggleBoard">
      {% block board %} {% endblock %}
    </table>
    <forms id="input">
      <lable for="word">Word</lable>
      <input id="word" type="text" name="word" />
      <button type="submit">Submit</button>
    </forms>

    <!-- Library JS & our JS -->
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
